.menu-content{
    width: 80%;
    position: fixed;
    background-color: cadetblue;
    transition: 0.5s;
    left: -100%;
    height: 100vh;
    text-align: center;
    list-style: none;
}

.activeMenu{
    left: 0%;
}

.menu-content ul li{
    list-style: none;
    padding: 10px 0px;
}

.btn-icon{
    position: absolute;
    right: 10px;
}