.menu{
    text-align: center;
}

.modal-overlay{
    width: 100%;
    position: fixed;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content{
    width: 320px;
    height: 320px;
    background-color: #fff;
    position: fixed;
    transition: 0.3s;
    top: -500px;
    transform: translate(-50%, -50%);
    left: 50%;
    cursor: pointer;
}

.en-btn{
    position: fixed;
    right: -30px;
    top: 100px;
    transform: rotate(90deg);
}

.modal-show{
    display: block;
}

.show-content{
    top: 50%;
}