/*--------MODULE STYLING------------*/


.error{
    color: rgb(238, 255, 0);
    background-color: rgb(204, 83, 83);
    border: none;
    padding: 10px;
    margin: 10px;
    width: 100px;
}

.warning{
    color: yellow;
    background-color: rgb(104, 104, 228);
    border: none;
    padding: 10px;
    margin: 10px;
    width: 100px;
}